@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


.logo-img{
    width: 3rem;
    border-radius: 50%;
  
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    margin-left: 2rem;
  }
  .btn{
    background-color: rgb(37, 195, 37);
  }
  .btn:hover{
    background-color: green;
  }

  /* navbar */

  /* conatiner bmi */

  .heading{
    color: #45a049;
  }
  .calculator {
    height: 80vh;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    
}

.input-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.calculate-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.calculate-btn:hover {
    background-color: #45a049;
}
#result{
  position: absolute;
  top: 28rem;
  left: 35rem;
  width: 18rem;
  height: 3rem;
}
.bmi-intro{
  
  margin-left: 1rem;
}

.footer {
  background: #333;
  color: #f8f3f3;
  text-align: center;
  height: 27vh;
  width: 100%;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
 
}

.footer-section h2 {
  font-size: 18px;
  color: #f8f8f8;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
}

/* media Q */
@media screen and (max-width: 500px){

  .heading{
    font-size: 1.2rem;
  }
  #result{
    position: absolute;
    left: 6.5rem;
  }
  .bmi-intro{
    width: 20rem;
    
    margin-left: 1rem;
  }
  #result{
    position: absolute;
    top: 28rem;
    left: 3rem;
    width: 18rem;
    height: 3rem;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
 
  .footer{
    height: 55vh;
  }
}